<div class="container border bg-light">
  <form #createEmployeeForm="ngForm">
    <div class="form-row form-group">
      <div class="col">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name"
               [(ngModel)]="newEmployee.name" name="name" required>
      </div>

      <div class="col">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" placeholder="Surname"
               [(ngModel)]="newEmployee.surname" name="surname" required>
      </div>

      <div class="col">
        <label for="position">Position</label>
        <select class="form-control" name="position" id="position" [(ngModel)]="newEmployee.position" required>
          <option value="Junior Software Engineer">Junior Software Engineer</option>
          <option value="Software Engineer">Software Engineer</option>
          <option value="Senior Software Engineer">Senior Software Engineer</option>
          <option value="Lead Software Engineer">Lead Software Engineer</option>
        </select>
      </div>
    </div>

    <div class="form-row form-group">
      <div class="col">
        <label for="date_of_birth">Date of birth</label>
        <input class="form-control" type="date" id="date_of_birth"
               [(ngModel)]="newEmployee.date_of_birth" name="date_of_birth" required>
      </div>

      <div class="col">
        <label for="salary">Salary</label>
        <input class="form-control" type="number" id="salary" min="0"
               [(ngModel)]="newEmployee.salary" name="salary" required>
      </div>
    </div>

    <div class="form-row form-group">
      <div class="col">
        <button type="submit" class="btn btn-success" (click)="create()" [disabled]="!createEmployeeForm.form.valid">
          Create employee
        </button>
      </div>
    </div>
  </form>

  <div [hidden]="!isShownImg">
    <img src="https://http.cat/{{imgStatus}}">
  </div>
</div>
