<div class="container">
  <form #createEmployeeForm="ngForm">
    <div class="form-row form-group">
      <div class="col-auto">
        <label for="name" class="sr-only">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name"
               [(ngModel)]="newEmployee.name" name="name">
      </div>

      <div class="col-auto">
        <label for="surname" class="sr-only">Surname</label>
        <input type="text" class="form-control" id="surname" placeholder="Surname"
               [(ngModel)]="newEmployee.surname" name="surname">
      </div>

      <div class="col-auto">
        <input type="number" class="form-control" id="pageNumber"
               [(ngModel)]="newEmployee.position" name="pageNumber">
        <label for="pageNumber" class="">Position</label>
      </div>

      <div class="col-auto">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="isSorted"
                   [(ngModel)]="newEmployee.date_of_birth" name="isSorted">
            <label for="isSorted" class="form-check-label">Date of birth</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orderAsc"
                   [(ngModel)]="newEmployee.salary" name="isSorted">
            <label for="isSorted" class="form-check-label">Salary</label>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-success" (click)="create()" [disabled]="!createEmployeeForm.form.valid">
          Create employee
        </button>
      </div>
    </div>
  </form>

  <div [hidden]="!isShownImg">
    <img src="https://http.cat/{{imgStatus}}">
  </div>
</div>
