<div class="container">
  <form #filterSortForm="ngForm">
    <div class="form-row form-group">
      <div class="col-auto">
        <label for="name" class="sr-only">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name"
               [(ngModel)]="filterArguments.name" name="name">
      </div>

      <div class="col-auto">
        <label for="surname" class="sr-only">Surname</label>
        <input type="text" class="form-control" id="surname" placeholder="Surname"
               [(ngModel)]="filterArguments.surname" name="surname">
      </div>
    </div>

    <div class="form-row form-group">
      <div class="col-auto">
        <input type="number" class="form-control" id="pageNumber"
               [(ngModel)]="filterArguments.pageNumber" name="pageNumber">
        <label for="pageNumber" class="">Page Number</label>
      </div>

      <div class="col-auto">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="isSorted"
                   [(ngModel)]="filterArguments.isSorted" name="isSorted">
            <label for="isSorted" class="form-check-label">Sort by salary</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orderAsc"
                   [(ngModel)]="filterArguments.orderAsc" name="isSorted">
            <label for="isSorted" class="form-check-label">Order: ASC</label>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-success" (click)="find()" [disabled]="!filterSortForm.form.valid">Find
          employees
        </button>
      </div>
    </div>
  </form>

  <div [hidden]="!isShownImg">
    <img src="https://http.cat/{{imgStatus}}">
  </div>
</div>
